Repository robotology/ycm, pull requests merged in 2018-05, with the labels that each got.

#131 [FindOpenCV] Cleanup LINK_LIB_HIGHGUI
  find-modules/FindOpenCV.cmake
Labels: Component: Find Modules, Status: in progress

#132 Require CMake 3.5 or newer
  CMakeLists.txt
  cmake-next/CMakeLists.txt
  cmake-next/v3.1.3/FindPkgConfig.cmake
  cmake-next/v3.4.3/CMakeParseArguments.cmake
  cmake-next/v3.7.0/FindPackageHandleStandardArgs.cmake
  help/manual/ycm-build-system-support.7.rst
  help/manual/ycm-superbuild-example.7.rst
  help/manual/ycm-using.7.rst
  help/release/0.8.0.rst
  internal-modules/YCMInternal.cmake
  modules/StandardFindModule.cmake
  modules/YCMEPHelper.cmake
  tests/RunCMake/AddInstallRPATHSupport/CMakeLists.txt
  tests/RunCMake/IncludeUrl/CMakeLists.txt
  tests/YCMBootstrap/CMakeLists.txt
Labels: Component: Bootstrap, Component: Build System, Component: CMake Legacy, Component: CMake Next, Status: in progress, Type: Cleanup

#130 Update InstallBasicPackageFiles.cmake
  modules/InstallBasicPackageFiles.cmake
Labels: Component: Build Modules, Module: InstallBasicPackageFiles, Resolution: Merged

#143 InstallBasicPackageFiles improvements
  help/release/0.8.0.rst
  modules/InstallBasicPackageFiles.cmake
Labels: Module: InstallBasicPackageFiles, Type: Enhancement
