Repository robotology/ycm, pull requests merged in 2019-03, with the labels that each got.

#211 YCMEPHelper: Deprecate CONFIGURE_SOURCE_DIR in favour of SOURCE_SUBDIR
  help/release/0.10.0.rst
  modules/YCMEPHelper.cmake
Labels: Component: Modules, Module: YCMEPHelper, Type: Bug

#208 Pass CMAKE_TOOLCHAIN_FILE variable to subprojects
  help/release/0.10.0.rst
  modules/YCMEPHelper.cmake
Labels: Component: Modules, Module: ExternalProject, Module: YCMEPHelper, Type: Enhancement

#217 FindACE: Add imported targets
  find-modules/FindACE.cmake
  help/release/0.10.0.rst
Labels: Component: Find Modules, Type: Cleanup, Type: Enhancement

#223 Update to CMake 3.14
  3rdparty/CMakeLists.txt
  CMakeLists.txt
  build-modules/CMakeLists.txt
  cmake-next/CMakeLists.txt
  cmake-next/proposed/ExternalProject.cmake
  cmake-next/v3.14.0/BasicConfigVersion-AnyNewerVersion.cmake.in
  cmake-next/v3.14.0/CMakePackageConfigHelpers.cmake
  cmake-next/v3.14.0/Copyright.txt
  cmake-next/v3.14.0/WriteBasicConfigVersionFile.cmake
  deprecated/CMakeLists.txt
  find-modules/CMakeLists.txt
  help/release/0.10.0.rst
  help/release/0.9.1.rst
  modules/CMakeLists.txt
  modules/YCMEPHelper.cmake
  style-modules/CMakeLists.txt
Labels: Component: Build System, Component: CMake Next, Module: ExternalProject

#220 Do not cache the 'YCM_USE_' variables
  YCMConfig.cmake.in
  help/manual/ycm-faq.7.rst
  help/manual/ycm-superbuild-example.7.rst
  help/manual/ycm-superbuild.7.rst
  help/manual/ycm-using.7.rst
  help/manual/ycm-variables.7.rst
  help/release/0.10.0.rst
  help/variable/YCM_USE_CMAKE.rst
  help/variable/YCM_USE_CMAKE_NEXT.rst
  help/variable/YCM_USE_CMAKE_VERSION.rst
Labels: Component: Build System, Component: Documentation, Type: Enhancement

#226 Import FindGLEW from CMake master
  cmake-next/CMakeLists.txt
  cmake-next/proposed/FindGLEW.cmake
  help/release/0.10.0.rst
Labels: Component: CMake Next, Component: Find Modules, Type: Enhancement

#227 ExternalProject refresh
  cmake-next/proposed/ExternalProject.cmake
  modules/YCMEPHelper.cmake
Labels: Component: CMake Next, Module: ExternalProject, Type: Enhancement

#228 IncludeUrl: Remove locks
  help/release/0.10.0.rst
  modules/IncludeUrl.cmake
  modules/YCMEPHelper.cmake
Labels: Component: Modules, Module: IncludeUrl, Type: Enhancement

#137 Ensure that if a package is installed by the superbuild, it is always found by other projects in the superbuild even if it is already found in CMAKE_PREFIX_PATH
  help/release/0.10.0.rst
  modules/YCMEPHelper.cmake
Labels: Status: in progress

#230 Fix bootstrap phase with the new ExternalProject
  modules/YCMEPHelper.cmake
Labels: Module: ExternalProject, Module: YCMEPHelper, Type: Bugfix

#229 Add Findassimp.cmake
  find-modules/CMakeLists.txt
  find-modules/Findassimp.cmake
Labels: Component: Find Modules, Type: Enhancement

#231 Fix bootstrap again
  modules/YCMEPHelper.cmake
Labels: Component: Bootstrap, Type: Bugfix

#233 Make YCM and InstallBasicPackageFiles FetchContent friendly
  3rdparty/CMakeLists.txt
  CMakeLists.txt
  cmake-next/CMakeLists.txt
  docs/CMakeLists.txt
  help/manual/ycm-superbuild-example.7.rst
  help/manual/ycm-superbuild.7.rst
  help/manual/ycm-using.7.rst
  help/release/0.10.0.rst
  internal-modules/YCMInternal.cmake
  internal-modules/YCMPack.cmake
  modules/InstallBasicPackageFiles.cmake
  modules/YCMDefaultDirs.cmake
  modules/YCMEPHelper.cmake
  tests/CMakeLists.txt
  tests/RunCMake/CMakeLists.txt
Labels: Component: Build System, Module: InstallBasicPackageFiles, Type: Enhancement

#234 Deprecate YCMDefaultDirs module
  deprecated/CMakeLists.txt
  deprecated/YCMDefaultDirs.cmake
  help/manual/ycm-build-system-support.7.rst
  help/manual/ycm-modules.7.rst
  help/module/YCMDefaultDirs.rst
  help/release/0.10.0.rst
  modules/CMakeLists.txt
Labels: Component: Deprecated Modules, Module: YCMDefaultDirs

#235 YCMEPHelper: Add subproject install to main build
  help/release/0.10.0.rst
  modules/YCMEPHelper.cmake
Labels: Component: Modules, Module: YCMEPHelper, Type: Enhancement

#236 InstallBasicPackageFiles: Deprecate FIRST_TARGET argument
  help/release/0.10.0.rst
  modules/InstallBasicPackageFiles.cmake
Labels: Component: Modules, Module: InstallBasicPackageFiles, Type: Deprecation, Type: Enhancement

#237 AddUninstallTarget: Cleanup and make it FetchContent friendly
  help/release/0.10.0.rst
  modules/AddUninstallTarget.cmake
Labels: Component: Modules, Module: AddUninstallTarget, Type: Enhancement

#239 InstallBasicPackageFiles: don't require targets and deprecate NO_COMPATIBILITY_VARS
  help/release/0.10.0.rst
  modules/InstallBasicPackageFiles.cmake
Labels: Component: Modules, Module: InstallBasicPackageFiles, Type: Deprecation

#241 Deprecate FindQt3 module
  deprecated/FindQt3.cmake
  find-modules/CMakeLists.txt
  help/manual/ycm-modules.7.rst
  help/module/FindQt3.rst
Labels: Component: Deprecated Modules, Component: Find Modules, Type: Deprecation
