Repository robotology/ycm, pull requests merged in 2019-08, with the labels that each got.

#265 `VERSION` now defaults to `PROJECT_VERSION` as advertised
  modules/InstallBasicPackageFiles.cmake
Labels: Module: InstallBasicPackageFiles, Type: Enhancement

#271 Fix USE_SYSTEM_/YCM_EP_DEVEL_MODE_ typo in docs
  help/manual/ycm-superbuild.7.rst
Labels: Component: Documentation, Type: Bugfix

#270 Minor documentation fixes/improvements
  modules/InstallBasicPackageFiles.cmake
Labels: Component: Documentation, Module: InstallBasicPackageFiles, Type: Enhancement

#269 Export build directory to user package registry
  modules/InstallBasicPackageFiles.cmake
Labels: Module: InstallBasicPackageFiles, Type: Enhancement

#268 Add `NO_EXPORT` option
  CMakeLists.txt
  modules/InstallBasicPackageFiles.cmake
Labels: Module: InstallBasicPackageFiles, Type: Enhancement
