Repository robotology/ycm, pull requests merged in 2020-07, with the labels that each got.

#339 Fix handling of PRIVATE_DEPENDENCIES in install_basic_package_files
  help/release/0.11.2.rst
  modules/InstallBasicPackageFiles.cmake
Labels: Component: Modules, Module: InstallBasicPackageFiles, Type: Bugfix

#344 AddInstallRPATHSupport: Add target_append_install_rpath command
  help/release/0.12.0.rst
  modules/AddInstallRPATHSupport.cmake
  tests/RunCMake/AddInstallRPATHSupport/AddInstallRPATHSupport_target_append_install_rpath.cmake
  tests/RunCMake/AddInstallRPATHSupport/RunCMakeTest.cmake
Labels: Component: Modules, Module: AddInstallRPATHSupport, Type: Enhancement

#348 3rd-party: Update Catch2 Git Repository to commit 229cc4823c8cbe67366da8179efc6089dd3893e9
  3rdparty/catch2.cmake
  help/release/0.11.3.rst
Labels: Component: 3rd Party, Priority: High, Type: Bugfix
