Repository robotology/ycm, pull requests merged in 2021-07, with the labels that each got.

#383 3rd party: Import the CMakeRC module from robotology-dependencies
  3rdparty/cmrc.cmake
  help/release/0.13.0.rst
Labels: Component: 3rd Party, Type: Enhancement

#384 3rdparty/cmrc: Retrieve latest version from original repository
  3rdparty/cmrc.cmake
  help/release/0.13.1.rst
Labels: Component: 3rd Party

#385 FindSoxr
  find-modules/CMakeLists.txt
  find-modules/FindSOXR.cmake
  help/release/0.14.0.rst
Labels: Component: Find Modules, Type: Enhancement
