Repository robotology/ycm, pull requests merged in 2021-03, with the labels that each got.

#373 Fix Findassimp.cmake in Ubuntu 20.04 and 18.04
  find-modules/Findassimp.cmake
Labels: Component: Find Modules

#374 Import FindUDev.cmake from ECM repository
  3rdparty/CMakeLists.txt
  3rdparty/ecm.cmake
  docs/conf.py.in
  help/release/0.13.0.rst
Labels: Component: 3rd Party, Component: Find Modules, Type: Enhancement

#375 Update 'VTK Git Repository' to tag v9.0.1
  3rdparty/vtk.cmake
  help/release/0.13.0.rst
Labels: Component: 3rd Party, Component: Find Modules, Type: Breaking Change, Type: Enhancement
